# Extra

> 복잡한 자료구조의 (2차원 리스트) 반복문

## 복잡한 리스트의 합

> 2차원 리스트를 반복하는 방법을 알아봅시다. 


* 주어진 아래의 리스트를 반복하여 숫자의 합을 반환하시오.

---
**예시 입력**

```python
numbers = [
    [1, 4],
    [10, 5],
    [20, 30]    
]

```

**예시 출력**
```python
sum_list([[1, 4], [10, 5], [20, 30]]) # 70
```

### for 문을 활용하여 풀이하기

```python
for element in list:
```

In [20]:
# 아래에 코드를 작성하세요.
def sum_list(numbers):
    sum = 0
    for i in numbers:
        if type(i) == list:
            sum += sum_list(i)
        else:
            sum += i
    return sum

In [21]:
print(sum_list([[1, 4], [10, 5], [20, 30]]))

70

### Index로 접근하여 풀이하기

```python
for element in range(len(list)):
```

In [10]:
# 아래에 코드를 작성하세요.
def sum_list_index(numbers):
    sum = 0
    for i in range(len(numbers)):
        for j in range(len(numbers[i])):
            sum += numbers[i][j]
    return sum

In [11]:
print(sum_list_index([[1, 4], [10, 5], [20, 30]]))

70

### while 문을 활용하여 풀이하기

```python
while ____:
```

In [28]:
## 아래에 코드를 작성하세요.
def sum_list_while(numbers):
    sum = 0
    n = 0
    while n < len(numbers):
        m = 0
        while m < len(numbers[n]):
            if type(m) == list:
                sum += sum_list_while(m)
            else:
                sum += m
        n += 1
    return sum

In [29]:
print(sum_list_while([[1, 4], [10, 5], [20, 30]]))

0

## 시험 점수

> 2차원 배열


* A반 학생들의 점수는 아래와 같고, students 리스트에 저장되어 있다.

    * A학생(국어 100점, 수학 80점, 영어 100점)
    * B학생(국어 90점, 수학 90점, 영어 60점)
    * C학생(국어 80점, 수학 80점, 영어 80점)

```python
students = [
 [100, 80, 100],
 [90, 90, 60],
 [80, 80, 80]
]
```

### 학생별 출력

* 아래의 리스트를 반복하여 **학생별 총합**을 순서대로 `출력`하시오.

* `sum` 함수 사용 금지

---
**예시 입력**

```python
students = [
 [100, 80, 100],
 [90, 90, 60],
 [80, 80, 80]
]
```

**예시 출력**
```
280
240
240
```

In [7]:
students = [
 [100, 80, 100],
 [90, 90, 60],
 [80, 80, 80]
]

In [12]:
# 아래에 풀이를 작성하세요. 함수 정의는 필요없습니다.

def student_sum(student_list):
    sum = 0
    for i in range(len(student_list)):
        for j in range(len(student_list[i])):
            sum += student_list[i][j]
        return sum
print(student_sum(students))

760

### 과목별 출력

* 아래의 리스트를 반복하여 **과목별 총합**을 순서대로 `출력`하시오.
* `sum` 함수 사용 금지

---
**예시 입력**

```python
students = [
 [100, 80, 100],
 [90, 90, 60],
 [80, 80, 80]
]
```

**예시 출력**
```
270
250
240
```

In [ ]:
students = [
 [100, 80, 100],
 [90, 90, 60],
 [80, 80, 80]
]

In [ ]:
# 아래에 풀이를 작성하세요. 함수 정의는 필요없습니다.

# Practice 2

> 자료 구조

## 모든 위치

> 주어진 문자열(text)에서 제시된 알파벳(alphabet)의 등장 위치를 리스트로 반환하시오.
> 해당 알파벳이 등장하지 않으면, -1을 반환하시오.

---

예시)

```python
print(my_find('apple', 'p')) # [1, 2]
print(my_find('a', 'p'))     # -1
```

In [ ]:
def my_find(text, alphabet):
    pass

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하시오.
print(my_find('apple', 'p'))
print(my_find('a', 'p'))

## 출석 체크

> 주어진 학생 n과 출석한 학생명부 students 문자열이 있다. 결석한 학생들로 구성된 문자열을 반환하시오.
>
> n이 7일 때, 1 2 3 4 5 6 7의 출석 번호가 부여되고,
>
> '1 3 5'는 출석한 학생 명부이다. 
>
> 즉, 결석한 학생 명부 '2 4 6 7'을 return 해야 한다.

---

예시)

```python
print(check(7, '1 3 5')) # 2 4 6 7
```

In [ ]:
def check(n, students):
    pass

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하시오.
print(check(7, '1 3 5')) # 2 4 6 7

# Practice 3

> 자료 구조

## 썩은 과일 찾기

> 과수원에 농부 한명이 썩은 과일이 몇개 들어있는 과일 봉지를 가지고 있다. (과일 봉지는 리스트를 의미한다.)
>
> 썩은 과일 조각들을 모두 신선한 것으로 교체하는 함수 `change_rotten_fruit()`를 작성하시오. 
>
> 예를 들어,
- `['apple', 'rottenBanana', 'apple']` 이라는 리스트가 주어진 경우, 대체된 리스트는 `['apple', 'banana', 'apple']` 이어야 한다. 
>
>
> **유의**
- 만약 리스트가 null/nil/None이거나 비어 있는 경우 빈 리스트를 반환한다.
- 반환된 리스트의 요소는 모두 소문자여야 한다.

---

예시)

```python
change_rotten_fruit(['apple', 'rottenBanana', 'apple']) 
#=> ['apple', 'banana', 'apple']

change_rotten_fruit(['rottenapple', 'rottenBanana', 'apple', 'rottenGrape']) 
#=> ['apple', 'banana', 'apple', 'grape']
```

In [ ]:
def change_rotten_fruit(fruit_bag):
    pass

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하시오.
print(change_rotten_fruit(['apple', 'rottenBanana', 'apple'] ))
print(change_rotten_fruit(['rottenapple', 'rottenBanana', 'apple', 'rottenGrape']))

## 중복되지 않은 숫자의 합

> 같은 숫자가 한개 있거나 두개가 들어있는 리스트가 주어진다. 이러한 리스트에서 숫자가 한개만 있는 요소들의 합을 구하는 함수 `sum_of_repeat_number()`를 작성하시오.
>
> 예를 들어, `[4, 5, 7, 5, 4, 8]`는 7과 8이 한번만 나오기 때문에 두개를 더한 15가 결과값으로 도출된다.

---

예시)

```python
sum_of_repeat_number([4, 4, 7, 8, 10]) # => 25
```

In [ ]:
def sum_of_repeat_number(numbers):
    pass

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하시오.
print(sum_of_repeat_number([4, 4, 7, 8, 10]))

# Practice

## 종합소득세 계산하기

> A라는 나라에서는 종합소득세는 과세표준 금액 구간에 따라 다른 세율이 적용된다.
> 
> 즉, 1,300만원을 벌었을 경우 `1,200*0.06 + 100*0.15`를 계산한 결과가 납부해야 하는 세액이다. 
> 
> 납부해야하는 세금의 결과를 반환하는 함수 `tax()`를 작성하시오.

<img width="1284" alt="tax-rate" src="https://user-images.githubusercontent.com/58539681/176991546-6518c9fe-88da-466b-b349-d68b36c16443.png">


---

예시)
```python
tax(1200) #=> 72.0
tax(4600) #=> 582.0
tax(5000) #=> 678.0
```

In [ ]:
def tax(won):
    pass

In [ ]:
# 아래의 코드를 실행하여 출력된 결과를 확인하시오.
print(tax(1200))
print(tax(4600))
print(tax(5000))

## 카쉐어링 요금 계산하기

> 카쉐어링 서비스는 요금을 다음과 같이 계산한다. 
> 
> 1. 대여는 10분 단위로 가능하다.
> 2. 대여 요금 : 10분당 1,200원
>
> 3. 보험료 : 30분당 525원 (50분을 빌리면, 1시간으로 계산)
>
> 4. 주행 요금 : km당 170원 (주행 요금은 100km가 넘어가면, 넘어간 부분에 대하여 할인이 50% 적용)
>
> 예) 160km를 달렸으면, 170\*100 + 85 \*60
>
> 양의 정수인 대여시간(분)과 주행거리를 받아 계산 결과를 반환하는 함수 `fee()`를 작성하시오.

참고 함수 [`math.ceil`](https://developer.mozilla.org/ko/docs/Web/JavaScript/Reference/Global_Objects/Math/ceil)

---

예시)

```python
fee(600, 50) #=> 91000
fee(600, 110) #=> 100350
```

In [ ]:
def fee(minute, distance):
    pass

In [ ]:
# 아래의 코드를 실행하여 출력된 결과를 확인하시오.
print(fee(600, 50))
print(fee(600, 110))

## 문자열 탐색

> 문자열 요소로만 이루어진 리스트를 넣었을 때, 문자열 길이가 2 이상이고 주어진 문자열의 첫번째와 마지막 문자가 같은 문자열의 수를 카운트하는 함수 `start_end()`를 작성하시오.

---
예시)

```python
start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']) #=> 3
```

In [ ]:
def start_end(words):
    pass

In [ ]:
# 아래의 코드를 실행하여 출력된 결과를 확인하시오.
print(start_end(['level', 'asdwe', 's', 'abceda', 'gsdwrtfg']))

## Collatz 추측

> 1937년 Collatz란 사람에 의해 제기된 이 추측은, 주어진 수가 1이 될때까지 다음 작업을 반복하면, 모든 수를 1로 만들 수 있다는 추측이다. 그 원리는 아래와 같다.
>
> 1. 입력된 수가 짝수라면 2로 나눈다. 
> 2. 입력된 수가 홀수라면 3을 곱하고 1을 더한다.
> 3. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복한다.
>
>  예를 들어, 입력된 수가 6이라면 6 → 3 → 10 → 5 → 16 → 8 → 4 → 2 → 1 이 되어 총 8번 만에 1이 된다.
>
> 위 작업을 몇 번이나 반복해야하는지 반환하는 함수 `collatz()`를 작성하시오 (단, 작업을 500번을 반복해도 1이 되지 않는다면 –1을 반환하시오.)

---

예시)

```python
collatz(6) #=> 8
collatz(16) #=> 4
collatz(27) #=> 111
collatz(626331) #=> -1
```

In [ ]:
def collatz(num):
    pass

In [ ]:
# 아래의 코드를 실행하여 출력된 결과를 확인하시오.
print(collatz(6))
print(collatz(16))
print(collatz(27))
print(collatz(626331))

## 딕셔너리 뒤집기

> 딕셔너리는 기본적으로 key와 value로 이뤄져있다.
>
> 딕셔너리를 입력받아 value와 key를 뒤집은 결과를 반환하는 함수 `dict_invert()`를 작성하시오.

---

예시)

```python
dict_invert({1: 10, 2: 20, 3: 30}) #=> {10: [1], 20: [2], 30: [3]}
dict_invert({1: 10, 2: 20, 3: 30, 4: 30}) #=> {10: [1], 20: [2], 30: [3, 4]}
dict_invert({1: True, 2: True, 3: True}) #=> {True: [1, 2, 3]}
```

In [ ]:
def dict_invert(my_dict):
    pass

In [ ]:
# 해당 코드를 통해 올바른 결과가 나오는지 확인하시오.
print(dict_invert({1: 10, 2: 20, 3: 30}))
print(dict_invert({1: 10, 2: 20, 3: 30, 4: 30}))
print(dict_invert({1: True, 2: True, 3: True}))